In [1]:
import pandas as pd
import json

In [2]:

# Load the file
with open('timelinetest1.json') as f:
    data = json.load(f)
    
# Load the file
with open('matchdatatest1.json') as f:
    match_data = json.load(f)

In [4]:
my_puuid = "qkM3HGY7VhJbh3lZFNSgWknUyJGfe9NnTmbsSLppeVCKyg9w0gbryOeyG1h-pNFV7n_e0EEwYsBmtA"
def getParticipantNumber(puuid):
    for i, participant_puuid in enumerate(data["metadata"]["participants"]):
        if participant_puuid == puuid:
            return i + 1  # Add 1 to match the participant number system

part_number = getParticipantNumber(my_puuid)
print(part_number)

6

In [5]:
# Function to extract all frames for a given participant number
def getParticipantFrames(participant_number, data):
    frames_data = []
    
    # Loop through each frame
    for frame in data['info']['frames']:
        # Extract the participant's frame data based on their number
        participant_frame = frame['participantFrames'].get(str(participant_number), {})
        # TODO frame['events]['timestamp]
        participant_frame['timestamp'] = frame['timestamp']  # Add the timestamp for context
        frames_data.append(participant_frame)
    
    # Convert the list of frame data to a DataFrame
    return pd.DataFrame(frames_data)

df = getParticipantFrames(part_number,data)
df.head()

,championStats,currentGold,damageStats,goldPerSecond,jungleMinionsKilled,level,minionsKilled,participantId,position,timeEnemySpentControlled,totalGold,xp,timestamp
0,"{'abilityHaste': 0, 'abilityPower': 0, 'armor'...",500,"{'magicDamageDone': 0, 'magicDamageDoneToChamp...",0,0,1,0,6,"{'x': 14500, 'y': 14511}",0,500,0,0
1,"{'abilityHaste': 0, 'abilityPower': 0, 'armor'...",0,"{'magicDamageDone': 180, 'magicDamageDoneToCha...",0,0,1,0,6,"{'x': 11339, 'y': 3557}",2207,500,0,60012
2,"{'abilityHaste': 0, 'abilityPower': 0, 'armor'...",84,"{'magicDamageDone': 180, 'magicDamageDoneToCha...",0,0,1,3,6,"{'x': 1723, 'y': 12693}",2207,584,185,120030
3,"{'abilityHaste': 0, 'abilityPower': 0, 'armor'...",10,"{'magicDamageDone': 970, 'magicDamageDoneToCha...",0,0,3,12,6,"{'x': 14067, 'y': 14357}",13833,860,924,180097
4,"{'abilityHaste': 0, 'abilityPower': 0, 'armor'...",196,"{'magicDamageDone': 2060, 'magicDamageDoneToCh...",0,0,4,15,6,"{'x': 2992, 'y': 13601}",23447,1046,1171,240097

In [6]:
# Normalize the nested JSON structure (for example, participant data)
participants_df = pd.json_normalize(match_data['info']['participants'][part_number - 1])
participants_df.head()

,allInPings,assistMePings,assists,baronKills,basicPings,bountyLevel,champExperience,champLevel,championId,championName,...,missions.playerScore6,missions.playerScore7,missions.playerScore8,missions.playerScore9,missions.playerScore10,missions.playerScore11,perks.statPerks.defense,perks.statPerks.flex,perks.statPerks.offense,perks.styles
0,0,2,4,0,0,0,15303,16,24,Jax,...,0,0,0,0,0,0,5011,5008,5005,"[{'description': 'primaryStyle', 'selections':..."

In [7]:
def findOpponent(my_puuid):
    for participant in match_data["info"]["participants"]:
        if participant["puuid"] != my_puuid and participant["individualPosition"] == "TOP":
            return pd.json_normalize(participant)

opponent_df = findOpponent(my_puuid)
opponent_df.head()

,allInPings,assistMePings,assists,baronKills,basicPings,bountyLevel,champExperience,champLevel,championId,championName,...,missions.playerScore6,missions.playerScore7,missions.playerScore8,missions.playerScore9,missions.playerScore10,missions.playerScore11,perks.statPerks.defense,perks.statPerks.flex,perks.statPerks.offense,perks.styles
0,0,2,9,0,0,3,19774,18,114,Fiora,...,0,0,0,0,0,0,5013,5008,5005,"[{'description': 'primaryStyle', 'selections':..."

In [8]:
event_data = []
for frame in data['info']['frames']:
    for event in frame['events']:
        event_data.append(event)
df = pd.DataFrame(event_data)

In [9]:
df.head()

,realTimestamp,timestamp,type,itemId,participantId,levelUpType,skillSlot,assistingParticipantIds,bounty,killStreakLength,...,laneType,teamId,killerTeamId,monsterType,buildingType,towerType,actualStartTime,monsterSubType,gameId,winningTeam
0,1.728614e+12,0,PAUSE_END,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,1804,ITEM_PURCHASED,1055.0,4.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,2072,ITEM_PURCHASED,2003.0,4.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,2740,ITEM_PURCHASED,1054.0,6.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,2740,ITEM_PURCHASED,2003.0,6.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [10]:
df['type'].unique()

array(['PAUSE_END', 'ITEM_PURCHASED', 'SKILL_LEVEL_UP', 'CHAMPION_KILL',
       'CHAMPION_SPECIAL_KILL', 'ITEM_DESTROYED', 'WARD_PLACED',
       'LEVEL_UP', 'ITEM_UNDO', 'TURRET_PLATE_DESTROYED',
       'ELITE_MONSTER_KILL', 'WARD_KILL', 'BUILDING_KILL', 'ITEM_SOLD',
       'OBJECTIVE_BOUNTY_PRESTART', 'OBJECTIVE_BOUNTY_FINISH', 'GAME_END'],
      dtype=object)

In [11]:
# Get all events associated with a particular puuid
def getEvents(part_number):
    events = []
    # Loop through each frame
    for frame in data['info']['frames']:
        for event in frame['events']:
            if 'participantId' in event and event['participantId'] == part_number:
                events.append(event)
                
            elif 'assistingParticipantIds' in event and part_number in event['assistingParticipantIds']:
                events.append(event)
            
            elif 'killerId' in event and part_number == event['killerId']:
                events.append(event)
                
            elif 'victimId' in event and part_number == event['victimId']:
                events.append(event)
            
    
    # Convert the list of frame data to a DataFrame
    return pd.DataFrame(events)

In [12]:
player_events = getEvents(part_number)
player_events.head()

,itemId,participantId,timestamp,type,levelUpType,skillSlot,assistingParticipantIds,bounty,killStreakLength,killerId,...,victimId,level,wardType,buildingType,laneType,teamId,towerType,afterId,beforeId,goldGain
0,1054.0,6.0,2740,ITEM_PURCHASED,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2003.0,6.0,2740,ITEM_PURCHASED,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,3340.0,6.0,3174,ITEM_PURCHASED,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,6.0,40462,SKILL_LEVEL_UP,NORMAL,3.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,50751,CHAMPION_KILL,NaN,NaN,"[3, 4, 5]",300.0,0.0,1.0,...,6.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [25]:
enemy_events = getEvents(opponent_df["participantId"][0])
enemy_events.head()

,itemId,participantId,timestamp,type,levelUpType,skillSlot,assistingParticipantIds,bounty,killStreakLength,killerId,...,afterId,beforeId,goldGain,laneType,teamId,buildingType,towerType,wardType,killType,multiKillLength
0,1054.0,1.0,4980,ITEM_PURCHASED,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2003.0,1.0,4980,ITEM_PURCHASED,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,3340.0,1.0,5614,ITEM_PURCHASED,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,1.0,40662,SKILL_LEVEL_UP,NORMAL,2.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,45641,CHAMPION_KILL,NaN,NaN,"[1, 3, 5]",400.0,0.0,4.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [26]:
enemy_events['type'].unique()

array(['ITEM_PURCHASED', 'SKILL_LEVEL_UP', 'CHAMPION_KILL', 'LEVEL_UP',
       'ITEM_DESTROYED', 'ITEM_UNDO', 'TURRET_PLATE_DESTROYED',
       'BUILDING_KILL', 'WARD_KILL', 'ITEM_SOLD', 'CHAMPION_SPECIAL_KILL'],
      dtype=object)

In [28]:
enemy_events[enemy_events['type']=='CHAMPION_SPECIAL_KILL'].columns

TypeError: 'Index' object is not callable

In [13]:
player_events['type'].unique()

array(['ITEM_PURCHASED', 'SKILL_LEVEL_UP', 'CHAMPION_KILL', 'LEVEL_UP',
       'ITEM_DESTROYED', 'WARD_KILL', 'BUILDING_KILL', 'ITEM_UNDO'],
      dtype=object)

In [18]:
player_events[player_events['goldGain'].notna()]

,itemId,participantId,timestamp,type,levelUpType,skillSlot,assistingParticipantIds,bounty,killStreakLength,killerId,...,victimId,level,wardType,buildingType,laneType,teamId,towerType,afterId,beforeId,goldGain
62,NaN,6.0,1164218,ITEM_UNDO,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,2021.0,1150.0

In [21]:
player_events[player_events['levelUpType'].notna()]

,itemId,participantId,timestamp,type,levelUpType,skillSlot,assistingParticipantIds,bounty,killStreakLength,killerId,...,victimId,level,wardType,buildingType,laneType,teamId,towerType,afterId,beforeId,goldGain
3,NaN,6.0,40462,SKILL_LEVEL_UP,NORMAL,3.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,NaN,6.0,131624,SKILL_LEVEL_UP,NORMAL,1.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,NaN,6.0,157299,SKILL_LEVEL_UP,NORMAL,2.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,NaN,6.0,238493,SKILL_LEVEL_UP,NORMAL,2.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,NaN,6.0,290969,SKILL_LEVEL_UP,NORMAL,2.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,NaN,6.0,336104,SKILL_LEVEL_UP,NORMAL,4.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26,NaN,6.0,503593,SKILL_LEVEL_UP,NORMAL,2.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29,NaN,6.0,602758,SKILL_LEVEL_UP,NORMAL,3.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
43,NaN,6.0,786214,SKILL_LEVEL_UP,NORMAL,2.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
49,NaN,6.0,969902,SKILL_LEVEL_UP,NORMAL,3.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
58,NaN,6.0,1127653,SKILL_LEVEL_UP,NORMAL,4.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
67,NaN,6.0,1242410,SKILL_LEVEL_UP,NORMAL,3.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
73,NaN,6.0,1463856,SKILL_LEVEL_UP,NORMAL,3.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
81,NaN,6.0,1552016,SKILL_LEVEL_UP,NORMAL,1.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
87,NaN,6.0,1637059,SKILL_LEVEL_UP,NORMAL,1.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
96,NaN,6.0,1854012,SKILL_LEVEL_UP,NORMAL,4.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [22]:
player_events[player_events['skillSlot'].notna()]

,itemId,participantId,timestamp,type,levelUpType,skillSlot,assistingParticipantIds,bounty,killStreakLength,killerId,...,victimId,level,wardType,buildingType,laneType,teamId,towerType,afterId,beforeId,goldGain
3,NaN,6.0,40462,SKILL_LEVEL_UP,NORMAL,3.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,NaN,6.0,131624,SKILL_LEVEL_UP,NORMAL,1.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,NaN,6.0,157299,SKILL_LEVEL_UP,NORMAL,2.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,NaN,6.0,238493,SKILL_LEVEL_UP,NORMAL,2.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,NaN,6.0,290969,SKILL_LEVEL_UP,NORMAL,2.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,NaN,6.0,336104,SKILL_LEVEL_UP,NORMAL,4.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26,NaN,6.0,503593,SKILL_LEVEL_UP,NORMAL,2.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29,NaN,6.0,602758,SKILL_LEVEL_UP,NORMAL,3.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
43,NaN,6.0,786214,SKILL_LEVEL_UP,NORMAL,2.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
49,NaN,6.0,969902,SKILL_LEVEL_UP,NORMAL,3.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
58,NaN,6.0,1127653,SKILL_LEVEL_UP,NORMAL,4.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
67,NaN,6.0,1242410,SKILL_LEVEL_UP,NORMAL,3.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
73,NaN,6.0,1463856,SKILL_LEVEL_UP,NORMAL,3.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
81,NaN,6.0,1552016,SKILL_LEVEL_UP,NORMAL,1.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
87,NaN,6.0,1637059,SKILL_LEVEL_UP,NORMAL,1.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
96,NaN,6.0,1854012,SKILL_LEVEL_UP,NORMAL,4.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [23]:
# Get all events associated with a particular puuid
def getKillEvents(part_number):
    events = []
    # Loop through each frame
    for frame in data['info']['frames']:
        for event in frame['events']:
            
                
            if 'assistingParticipantIds' in event and part_number in event['assistingParticipantIds']:
                events.append(event)
            
            elif 'killerId' in event and part_number == event['killerId']:
                events.append(event)
                
            elif 'victimId' in event and part_number == event['victimId']:
                events.append(event)
            
    
    # Convert the list of frame data to a DataFrame
    return pd.DataFrame(events)

In [24]:
kill_events = getKillEvents(part_number)
kill_events.head()

,assistingParticipantIds,bounty,killStreakLength,killerId,position,shutdownBounty,timestamp,type,victimDamageDealt,victimDamageReceived,victimId,wardType,buildingType,laneType,teamId,towerType
0,"[3, 4, 5]",300.0,0.0,1,"{'x': 11339, 'y': 3557}",0.0,50751,CHAMPION_KILL,"[{'basic': False, 'magicDamage': 14, 'name': '...","[{'basic': True, 'magicDamage': 0, 'name': 'Le...",6.0,NaN,NaN,NaN,NaN,NaN
1,NaN,267.0,0.0,1,"{'x': 1643, 'y': 13004}",0.0,364344,CHAMPION_KILL,"[{'basic': False, 'magicDamage': 107, 'name': ...","[{'basic': True, 'magicDamage': 0, 'name': 'SR...",6.0,NaN,NaN,NaN,NaN,NaN
2,[1],200.0,0.0,2,"{'x': 1332, 'y': 13486}",0.0,458172,CHAMPION_KILL,"[{'basic': False, 'magicDamage': 105, 'name': ...","[{'basic': False, 'magicDamage': 0, 'name': 'G...",6.0,NaN,NaN,NaN,NaN,NaN
3,[3],200.0,1.0,1,"{'x': 4059, 'y': 13747}",0.0,601087,CHAMPION_KILL,"[{'basic': False, 'magicDamage': 0, 'name': 'J...","[{'basic': False, 'magicDamage': 105, 'name': ...",6.0,NaN,NaN,NaN,NaN,NaN
4,[2],150.0,2.0,1,"{'x': 6821, 'y': 13457}",0.0,714300,CHAMPION_KILL,"[{'basic': False, 'magicDamage': 104, 'name': ...","[{'basic': False, 'magicDamage': 0, 'name': 'G...",6.0,NaN,NaN,NaN,NaN,NaN

In [26]:
kill_events[kill_events['laneType'].notna()]

,assistingParticipantIds,bounty,killStreakLength,killerId,position,shutdownBounty,timestamp,type,victimDamageDealt,victimDamageReceived,victimId,wardType,buildingType,laneType,teamId,towerType
12,NaN,250.0,NaN,6,"{'x': 10504, 'y': 1029}",NaN,1155821,BUILDING_KILL,NaN,NaN,NaN,NaN,TOWER_BUILDING,BOT_LANE,100.0,OUTER_TURRET